@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Libre Baskerville";
  src: url(../public/fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(../public/fonts/Rubik-Regular.ttf);
}

/* Général */
body {
  font-family: "Rubik";
  background-color: #fefbf2;
}

h1 {
  font-family: "Libre Baskerville";
}

button {
  letter-spacing: 0.5px;
}

/* Folders */
.kopo-folder-container {
  position: relative;
  width: 170px;
  height: 110px;
  background-color: #f0fdf4;
  border: 2px solid #22c55e;
  border-radius: 0 1em 1em 1em;
}

.kopo-folder-container:hover {
  color: #ffffff;
  background-color: #22c55e;
  transform: scale(1.05);
  transition: 0.2s transform ease-in-out;
}

.kopo-folder-container:hover::before {
  background-color: #22c55e;
}

.kopo-folder-container:before {
  content: '';
  position: absolute;
  top: -16px;
  left: -2px;
  width: 50%;
  height: 16px;
  border-top: 2px solid #22c55e;
  border-left: 2px solid #22c55e;
  border-right: 2px solid #22c55e;
  border-radius: 0 1em 0 0;
  background-color: #f0fdf4;
}

.kopo-folder-wrapper {
  padding: 0.5em;
}

.kopo-folder-title {
  font-size: 1em;
}

.kopo-folder-step {
  font-size: 12px;
}

/* Smart Contracts */
.kopo-smart-contract {
  background-color: #f0fdf4;
  border: 2px solid #22c55e;
  width: 160px;
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em 1em 0.5em 0;
}