@tailwind base;
@tailwind components;
@tailwind utilities;

/* Folders */
.kopo-folder-container {
  position: relative;
  width: 170px;
  height: 110px;
  background-color: #d9d9d9;
  border-radius: 0 1em 1em 1em;
}

.kopo-folder-container:before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  width: 50%;
  height: 16px;
  border-radius: 0 1em 0 0;
  background-color: #d9d9d9;
}

.kopo-folder-wrapper {
  padding: 0.5em;
}

.kopo-folder-title {
  font-size: 1em;
}

.kopo-folder-step {
  font-size: 12px;
}

/* Smart Contracts */
.kopo-smart-contract {
  background-color: #d9d9d9;
  width: 160px;
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em 1em 0.5em 0;
}